<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mybatis.dao.GoodInfoMapper" >
  <resultMap id="BaseResultMap" type="com.mybatis.entity.GoodInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="CHAR" />
    <result column="serial_number" property="serialNumber" jdbcType="CHAR" />
    <result column="branch" property="branch" jdbcType="VARCHAR" />
    <result column="updatetime" property="updatetime" jdbcType="BIGINT" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, name, serial_number, branch, updatetime
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from good_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from good_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mybatis.entity.GoodInfo" >
    insert into good_info (id, name, serial_number, 
      branch, updatetime)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=CHAR}, #{serialNumber,jdbcType=CHAR}, 
      #{branch,jdbcType=VARCHAR}, #{updatetime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.mybatis.entity.GoodInfo" >
    insert into good_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="serialNumber != null" >
        serial_number,
      </if>
      <if test="branch != null" >
        branch,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=CHAR},
      </if>
      <if test="serialNumber != null" >
        #{serialNumber,jdbcType=CHAR},
      </if>
      <if test="branch != null" >
        #{branch,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mybatis.entity.GoodInfo" >
    update good_info
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=CHAR},
      </if>
      <if test="serialNumber != null" >
        serial_number = #{serialNumber,jdbcType=CHAR},
      </if>
      <if test="branch != null" >
        branch = #{branch,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mybatis.entity.GoodInfo" >
    update good_info
    set name = #{name,jdbcType=CHAR},
      serial_number = #{serialNumber,jdbcType=CHAR},
      branch = #{branch,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>